<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Misc</string>
	<key>uuid</key>
	<string>769E1F34-46DF-4267-9990-45F35BACAAA1</string>
</dict>
</plist>
